.contact-btn-group {
  margin: 3% auto;
  width: 70%;
}

.contact-container {
  min-height: 100vh;
  padding: 1% 0;
}

.contact-form-control {
  background-color: white;
  border-radius: 5%;
  margin: 3%;
  padding: 5%;
}

.contact-form-group {
  margin: 2% auto;
  padding: 2%;
  width: 70%;
}

.contact-heading {
  color: #000;
}

.contact-social {
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  width: 30%;
}
