h1 {
  font-size: 3rem;
  margin-top: 0;
}

.contact-btn-group {
  display: flex;
  justify-content: flex-end;
  margin: 3% auto;
  width: 70%;
}

.contact-container {
  background-color: #ff6969;
  margin: 0;
  min-height: 90vh;
  padding: 0;
}

.contact-form-control {
  background-color: white;
  border-radius: 5%;
  margin: 3% auto;

  padding: 2% 3%;
  width: 40%;
}

.contact-form-group {
  margin: 0.5% auto;
  padding: 1%;
  width: 70%;
}

.contact-heading {
  color: #fff;
}

.contact-social {
  display: flex;
  justify-content: space-around;
  margin: 5% auto 0;
  width: 30%;
}
