.home {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home__main {
  display: flex;
  padding: 0 15%;
}

.home__text {
  flex: 1;
  color: #fff;
  text-align: center;
  padding: 0 2%;
  font-size: 36px;
}

.home__text h1 {
  font-size: 48px;
  margin: 0;
}

.home__text p {
  font-size: 24px;
  margin: 20px 0;
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__button {
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  margin: 0 5%;
  cursor: pointer;
  white-space: nowrap;
}

.home__button.home--left {
  display: inline-flex;
  align-items: center;
  background-color: #fcffe7;
  color: #0b2447;
}

.home__button.home--left:hover {
  background-color: #0b2447;
  color: #fcffe7;
}

.home__button.home--right {
  display: inline-flex;
  align-items: center;
  color: #fcffe7;
  background-color: #0b2447;
}

.home__button.home--right {
  background-color: #ffbe57;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -2px;
}

.home__button.home--right:hover {
  background-color: #fcffe7;
  color: #ffbe57;
}

.home__image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
