p {
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: left;
}

.portfolio-container {
  background-color: #f7d060;
  padding: 0 5%;
  width: 100vw;
}

.portfolio-mob-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 4% 1%;
}

.portfolio-mob-text-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

.portfolio-mob-text-container p {
  width: 60%;
  margin-top: 0;
}

.portfolio-mob-carousel {
  background-color: #e9a178;
  border-radius: 2%;
  display: flex;
  margin: 0% auto;
  padding: 4% 1%;
  width: 35%;
}

.portfolio-web-container {
  padding: 4% 1%;
}

.portfolio-carousel-web {
  background-color: #cde990;
  border-radius: 2%;
  display: flex;
  align-items: center;
  padding: 4% 1%;
  width: 70%;
}

.portfolio-web-text-container {
  width: 70%;
}

.portfolio-image-mob {
  width: 45%;
}

.portfolio-image-web {
  width: 100%;
  object-fit: cover;
}
