.portfolio-container {
  width: 100vw;
}

.portfolio-carousel-container {
  background-color: lightgray;
  border-radius: 1%;
  display: flex;
  align-items: center;
  margin: 3% auto;
  padding: 1%;
  width: 50%;
}

.portfolio-image-mob {
  width: 25%;
}

.portfolio-image-web {
  width: 100%;
  object-fit: cover;
}
