.app {
  /* background-color: #009fbd; */
  /* text-align: center; */
  min-height: 100vh;
}
.app-nav {
  padding: 10px 20px 0;
}

.app-nav-menu {
  position: relative;
  left: 19px;
  /* test */
  transition: top 0.5s ease-in-out;
  top: -100%;
}

.app-nav-menu-icon {
}

/* Media queries */
@media screen and (max-width: 900px) {
  .app-nav-menu-active .nav-menu-items {
    margin-top: 12px;
  }
}

@media screen and (max-width: 800px) {
  .app-nav-menu-active {
    background-color: black;
    color: white;
    margin: 0 auto;
    /* padding-bottom: 10%; */
    height: 50vh;
    position: absolute;
    width: 100vw;
    z-index: 10;
    /* test */
    top: 50%;
  }

  .nav-menu-items a {
    width: 100vw;
    margin: 1% auto;
    padding-right: 10%;
  }
}
