.LeftCarouselButton {
  background-color: #000;
  opacity: 0.7;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transition: transform 0.1s ease-in-out;
  /* transform: translate(-100%, -50%); // use for hidden */
  transform: translate(0%, -50%); /*comment out if using above */
  z-index: 1;
}
